{% extends "account/sign-base.html" %}
{% block title %}
    重设密码
{% endblock title %}

{% block sign-block %}
    <a href="/account/sign-in/" class="btn btn-info">登录</a>
{% endblock sign-block %}

{% block form-block %}
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
        {% load staticfiles %}
            <div class="sign-icon">
                <img src="{% static 'img/icon/reset-password-icon.png' %}" alt="" />
                <h4 class='white'>Please remenber your password this time </h4>
            </div>

        </div>
        <div class="col-sm-8">
            <form class="form-horizontal main-block" method="post">
                {% csrf_token %}

                <fieldset>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <br/>
                            <legend class="green">重设密码</legend>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="新密码" name="phoneNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="password" class="form-control"  placeholder="再输入密码" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary col-sm-12">提交</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-4">
                                    <a class='grey' href="/account/resetpassword">忘记了密码？</a>
                                </div>
                            </div>
                            {% if message %}
                                <div class="panel panel-warning">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">注册信息错误</h3>
                                  </div>
                                  <div class="panel-body">
                                    {{message}}
                                  </div>
                                </div>
                            {% endif %}
                            <br/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock form-block %}
