
body{
	background: #d0d0d0;
}

.navbar.navbar-inverse{
	background: #1ABC9C;
	background-color: #1ABC9C;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
	border-color:#1ABC9C;
}

.main{
	background:#1ABC9C;
}

.main-block{
	background-color: #ECEFF1;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}
.main-block h1,h2,h3{
	color: #1ABC9C;
}

.sign-icon > img{
	display: block;
	margin-bottom: 12px;
	width: 80%;
}

form:before {
  content: "";
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #eceff1 transparent transparent;
  height: 0px;
  position: absolute;
  left: 3px;
  top: 35px;
  width: 0;
  -webkit-transform: rotate(360deg);
}


.text-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.green{
	color:#1ABC9C;
}
.white{
	color:#fff;
}
a.grey{
	color:#a1a4a7;
}
a.grey:hover{
	color:#1ABC9C;
}


.main-btn{
	color: #fff;
	background: #1ABC9C;
	box-shadow: 2px 3px 1px  rgba(0, 0, 0, 0.2);
}


.btn.btn-primary{
	background: #1ABC9C;
	border-color:#fff;
}

.btn.btn-success{
	background: #1ABC9C;
	border-color:#fff;
}
.btn.btn-info{
	color:#1ABC9C;
	background: #ECEFF1;
	border-color:#ECEFF1;
	box-shadow: 2px 3px 1px  rgba(0, 0, 0, 0.2);
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus{
	background-color: #1ABC9C;
}

tr>.working{
	color:#C05B2F;
}
tr>.finished{
	color:#86472E;
}
footer{
	background: #ECEFF1;
}
.footer-content ul li{
	display: inline-block;
	margin: 0 50px;
}
footer a{
	color: #a1a4a7;
}
footer a:hover{
	color:#1ABC9C;
}
